<div class='absolute' style='top:10px; right:10px'><button mat-raised-button color='warn' (click)="quitGame()"><mat-icon>close</mat-icon>Quit</button></div>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Game Infos
      </mat-panel-title>
    </mat-expansion-panel-header>
<div class='absolute' style='top:10px; right:10px'><button mat-raised-button color='warn' (click)="quitGame()"><mat-icon>close</mat-icon>Quit</button></div>
<b>Connected as : </b> {{username}} <br>
<b>Game ID : </b> {{gameId}} <br>
<b>Players : </b>
<mat-chip-list aria-label="Fish selection" class='dib'>
  <mat-chip style='background-color: green; color:white; min-height:20px;' *ngFor="let user of users" selected>{{user}}</mat-chip>
</mat-chip-list>
<br>
<b>Teams : </b>
<ul>
  <li *ngFor='let team of teams'>
    <span *ngFor='let user of team' class='mr3'>{{user}}</span>
  </li>
</ul>
</mat-expansion-panel>
</mat-accordion>
<mat-card class='mt3'>
<mat-card-title>Round {{round + 1}}</mat-card-title>
<b>Current Player : </b> {{users[currentPlayer]}} <br>
<div class='flex'>
<div *ngIf="currentlyPlaying() && !chrono.started"> 
  <p>It's your turn to play, press "Start Chrono" whenever you're ready</p>
  <button mat-raised-button color='primary' (click)='startChrono()'>Start chrono</button>
</div>
<div *ngIf="chrono.started" class='dib'> 
  <b class='blue'>{{chronovalue}} seconds</b>
  <mat-progress-spinner color='primary' mode='determinate' [value]='chronovalue * 100/60'></mat-progress-spinner>
</div>
<div *ngIf="currentlyPlaying() && character.id && chrono.started" class='dib ml5 mt2'>
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{character.name}}</mat-card-title>
    </mat-card-header>
    <!-- <mat-card-content>

    </mat-card-content> -->
    <mat-card-actions >
      <button style='width:120px; background-color:green; color:white' mat-raised-button (click)='discovered()'>DISCOVERED</button>
      <button style='width:120px' mat-raised-button [class.orangebutton]="round !== 0" (click)='pass()' [disabled]='round === 0'>PASS</button>
    </mat-card-actions>
  </mat-card>
</div>
</div>
</mat-card>